*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(8, 13, 43);
}
header{
    background-color: darkslateblue;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 0px 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 8px;
    background-color: rgba(250, 235, 215, 0.248);
    padding: 10px 20px;
    border-radius: 20px;
}
li{
    /* background-color: darkslateblue; */
    padding: 5px 8px;
    border-radius: 9px 9px 9px 9px;
    color: antiquewhite;
    font-size: larger;
    cursor: pointer;
}
li:hover{
    background-color: darkslateblue;
    /* background-color: rgba(250, 235, 215, 0.248); */
    transition: 0.3s;
}
.container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}
.mob{
    padding: 40px;
    background-color: blueviolet;
    border-radius: 0px 20px;
}
.mob:hover{
    background-color: darkgoldenrod;
    border-radius: 20px 0px;
    transition: 0.3s;
}
.section{
    color: antiquewhite;
    margin-top: 10px;
    text-align: justify;
    padding: 0px 40px;
    border: 1px solid white;
    border-radius: 0px 0px 30px 30px;
    background-color: rgb(90, 71, 71);
}